{% extends 'base.html' %}


{% block header %}
    <h2>{% block title %}Rapport{% endblock %}</h2>
{% endblock %}


{% block content %}
    <div class="card">
    <div class="card-header">observateurs :</div>
          <div class="panel-body"> 
            <ul class="list-unstyled">
         {% for observateur in observateurs %}
             <li>{{observateur}}</li>
         {% endfor %}
        </ul>
        </div>
    </div>

    <br>
    especes : 
    {% for espece in especes %}
    <li>{{espece}}</li>
{% endfor %}    

{% endblock %}
